
<div class=" form-group input-group">
    <span class="form-group input-group-addon" style="color: black;">Terms and Conditions</span>
    <input type="checkbox" name="acceptterms" data-size="large" data-on-text="Accept" data-off-text="Decline" style="margin-left: 0px;" />
</div>

<input type="submit" id="btnSaveRequest" name="btnSaveRequest" class="btn btn-primary btn-lg" />
