<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationCustomLog" type="LogUtils.ApplicationLogSection, LogUtils"/>
  </configSections>
  <ApplicationCustomLog writeLog ="true">
    <logFileLocation location="c:\\ApplicationLog\\" fileName="test_0" extension="txt"></logFileLocation>
    <appendToFile appendLine="true"></appendToFile>
    <maxFileSize size="5"></maxFileSize>
    <debugLevel level="DEBUG"></debugLevel>
  </ApplicationCustomLog>
</configuration>